body{
margin:0;
background:#fff8ed;
font-family:Georgia,serif;
color:#555;
text-align:center;
}

header{
background:white;
padding:30px;
border-bottom:4px solid #dce8d2;
}

.logo{width:180px;}

h1,h2,h3{
color:#806b95;
}

nav{
color:#806b95;
font-weight:bold;
}

.hero{
background:#f5ecff;
padding:60px;
}

.cards,.guides{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:25px;
padding:40px;
}

.card,.guide,.tip{
background:white;
width:260px;
padding:30px;
border-radius:30px;
box-shadow:0 8px 20px #ddd;
}

.tip{
margin:30px auto;
width:60%;
background:#f5ecff;
}

footer{
background:#8aa06f;
color:white;
padding:40px;
}
